
@{
    ViewBag.Title = "Education";
}

<h2>Education</h2>
<table class="table table-striped">
    <tr>
        <th>Degree</th>
        <th>year</th>
        <th>institute</th>
    </tr>
    
        @foreach (var item in ViewBag.Education)
        {
            <tr>
                <td>@item.degree</td>
                <td>@item.year</td>
                <td>@item.institution</td>
            </tr>
            }


    
</table>

