
@{
    ViewBag.Title = "Education";
}

<h2>Education</h2>
<table class="table table-striped">
    <tr>
        <th>Degree</th>
        <th>year</th>
        <th>institute</th>
    </tr>
    <tr>
        <td>ssc</td>
        <td>2017</td>
        <td>MUBC</td>
    </tr>
    <tr>
        <td>Hsc</td>
        <td>2019</td>
        <td>BAFSD</td>
    </tr>
</table>
