@{
    ViewBag.Title = "Home Page";
}

<main>
    <table border="0">
        <tr>
            <td>Name</td>
            <td>:</td>
            <td>Sheikh Tahmeeed Hossain</td>
        </tr>
        <tr>
            <td>ID</td>
            <td>:</td>
            <td>20-42981-1</td>
        </tr>
        <tr>
            <td>E-Mail</td>
            <td>:</td>
            <td><a href="mailto:tahmeedhossain99@gmail.com">tahmeedhossain99@gmail.com</a></td>
        </tr>

    </table>


</main>