
@{
    ViewBag.Title = "personal_Details";
}

<h2>Personal Details</h2>
<table border="0" >
    <tr>
        <td>Name</td>
        <td>:</td>
        <td>Sheikh Tahmeeed Hossain</td>
    </tr>
    <tr>
        <td>Father's Name</td>
        <td>:</td>
        <td>Sheikh Jahangir Hossain</td>
    </tr>
    <tr>
        <td>Mother's Name</td>
        <td>:</td>
        <td>Tahurun Nessa</td>
    </tr>

</table>

