
@{
    ViewBag.Title = "projects";
}

<h2>Projects</h2>

<ul style="margin-bottom: 0">
    <li>OOP2</li>
</ul>
<p style="line-height: 1; margin-top: 0">
    Application will allow users to create, update, and delete tasks, as well as mark them as completed. The project will use a console-based user interface.
</p>

<ul style="margin-bottom: 0">
    <li>java</li>
</ul>
<p style="line-height: 1; margin-top: 0">
    The Library Management System is a Java-based application designed to efficiently manage the operations of a library. The system provides a user-friendly interface for librarians to manage book inventory, track borrowing and returning of books, and maintain user records.
</p>


<ul style="margin-bottom: 0">
    <li>Webtech</li>
</ul>
<p style="line-height: 1; margin-top: 0">
   The Online Task Management System is a web-based application developed using PHP to help individuals and teams organize, track, and collaborate on tasks and projects. This system provides a centralized platform for creating, assigning, and monitoring tasks, enhancing productivity and teamwork.
</p>

