
@{
    ViewBag.Title = "referance";
}

<h2>Referance</h2>
<br>
<br>

<table border="0">
    <tr>
        <td>Name</td>
        <td>:</td>
        <td>MD.khondokar</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>:</td>
        <td>xyz@gmail.com</td>
    </tr>
    <tr>
        <td>Contact</td>
        <td>:</td>
        <td>01234567891</td>
    </tr>

</table>
<br>
<br>

<table border="0">
    <tr>
        <td>Name</td>
        <td>:</td>
        <td>MD.Asif</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>:</td>
        <td>xyz@gmail.com</td>
    </tr>
    <tr>
        <td>Contact</td>
        <td>:</td>
        <td>01234567891</td>
    </tr>

</table>




