@model LabTask3.EF.CourseTbl
@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<form action="" method="post" class="form-control">
    <p>Course:@Model.name</p><br>
    <p>Course Id: @Model.courseId </p><br>
    <p>Credit: @Model.credit</p><br>

    <input type="submit" class="btn btn-danger" value="Confirm-Delete">
    <a href="/Course/list" class="btn btn-success">No</a>
</form>