@model LabTask3.EF.CourseTbl
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<form method="post" action="">
    <p>name: </p>
    <input type="text" name="name" value="@Model.name" class="form-control">
    <br>
    <p>Course ID: </p>
    <input type="text" name="courseId" value="@Model.courseId" class="form-control">
    <br>
    <p>credit: </p>
    <input type="text" name="credit" value="@Model.credit" class="form-control">
    <br>
    <input type="submit" class="btn-outline-success">
</form>


