<!DOCTYPE html>
<html>
<head>
    <title>Navbar</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .navbar-custom {
            background-color: #007bff;
        }

            .navbar-custom .navbar-brand,
            .navbar-custom .navbar-text {
                color: #ffffff;
            }

            .navbar-custom .nav-link {
                color: #ffffff;
            }

                .navbar-custom .nav-link:hover {
                    color: #ffffff;
                }

        .logout-button {
            color: red; 
            border-color: red; 
        }

            .logout-button:hover {
                background-color: rgba(255, 0, 0, 0.1); 
            }
    </style>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-custom">
        <div class="container">
            <a class="navbar-brand" href="#">@ViewBag.data2.name</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/Food/Food">Add Food</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Food/Index">History</a>
                    </li>
                    <li class="nav-item">
                        <form id="logoutForm" action="/Logout/Index" method="post">
                            <button type="submit" class="nav-link btn btn-link logout-button">Logout</button>
                        </form>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    @RenderBody()

</body>
</html>