@model LabTask3.EF.DepartmentTbl
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<table class="table table-bordered">
    <tr>
        <td colspan="3" align="center">@Model.name</td>
    </tr>
    <tr>
        <th>name:</th>
        <th>id</th>
        <th>cgpa</th>
    </tr>
    @foreach (var student in Model.StudentTbls)
    {
<tr>
    <td>@student.name</td>
    <td>@student.id</td>
    <td>@student.cgpa</td>
</tr>
    }
</table>
